body{
    font-family: 'Poppins', sans-serif;;
}
.navbar img{
width:100px;

}
.navbar{
    background-color:#F0FFF0 !important;
}

.nav-item{
    color: black !important;
    font-weight: bold;
}
#button{
    color: white !important;
    background-color:#21B573;
    padding:10px 10px;
    width: 100px;
    height: 40px;
    font-size: smaller;
    border-radius: 20px;
    margin-left: 10px;
    font-weight: normal;
    text-align:center;
    border: none;
}

#container1{
    background-color: #F0FFF0;
    padding: 10px 20px;
    margin-bottom: 80px;
}
   
.first-images{
    width: 80%;
}
.font-color{
    color:#FD511A;
}
span{
    color:#21B573;
}

h6{
    font-size: smaller;
    font-weight: normal;
    color: #6C6B6B;
    
}
.heading{
    margin-top: 80px;
}

.image1{

width: 66px;
height: 85px;
margin-top:20px;
margin-left: 20px;
padding:10px;
}

.image2{
    
width: 80px;
height: 83px;
margin-top:20px;
margin-left:40px;
padding: 10px;

}
.image3{
width: 75px;
height: 80px;
margin-top:20px;
margin-left:30px;
padding: 10px;
}
.image4{ 
    width: 68px;
    height: 76px;
    margin-top:20px;
    margin-left:40px;
    padding: 10px;
}
.card{
    box-shadow: 5px 5px 10px white ;
    background-color:#F8FFFB;
    padding: 10px;
    border: none;
    border-radius: 10px;
}
p{
    text-align: center;
    color: #585859;
    font-size: smaller;
}
.card-2{
    box-shadow: 5px 5px 10px lightgrey ;
    padding: 10px;
    border-radius:10px;
}
h5{
    text-align: center;
}

.container{
   margin-bottom: 80px; 
}
h4{
    text-align: center;
}
.card1{
    box-shadow: 5px 5px 10px lightgrey;
    border-radius: 10px;
    margin: 50px ;
}

.card-title{
text-align: left;
}    
.card-text{
    text-align: left;
}

.button2{

    color: white;
    background-color:#21B573;
    padding:10px 10px;
    width: 120px;
    height: 40px;
    font-size: smaller;
    border-radius: 20px;
    border: none;
    font-weight: normal;
    margin-bottom: 20px;
}
.images4{
    width:100%;
    padding: 15px;
}
.images5{
    width: 18%;
    height:42%;

}
.col-md-6 p{
    text-align:left;
    font-size: x-small;
}
h2{
    text-align: center;
    margin-bottom: 40px;
}
.images6{
    width:120px;
    height:120px;
    margin-left: 200px;
}

.last-phrase{
    margin-right: 100px;
    font-size: x-small;
}
.footer{
    background-color: black;
    color: white ;
    padding: 20px;
  
}

.footer p{
    text-align: left;
    color: white;    
}

.footer h5{
    text-align: left;
}

#paragraph{
    text-align: center;
    padding-top: 20px;
    margin-bottom: 5px;
}
